@charset "utf-8";

body {
    background-color: #fff;
}

.main_wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.fv img {
    width: 1000px;
    height: 534px;
    object-fit: contain;
}

.fv_banner {
    display: flex;
}

.work_title {
    display: flex;
}

.work_title img {
    padding-right: 20px;
}

.content {
    margin: 40px 0;
    font-size: 24px;
    line-height: 1;
}

.work_desc {
    position: absolute;
}

.work_info {
    position: relative;
    top: 4px;
    left: 11px;
    font-size: 24px;
    padding-bottom: 20px;
}

.work_detail {
    padding-bottom: 40px;
    font-size: 16px;
}

.work_concept {
    margin: 38px 0 160px;
}

.work_cat {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1000px;
    margin-bottom: 220px;
}

@media screen and (max-width: 767px) {
    .fv_banner {
        display: block;
        padding-bottom: 110px;
    }

    .fv_banner img {
        height: auto;
    }
}
